<h2 class="text-center form-color">EDIT USER</h2>
<div class="container form-color">
<%= simple_form_for(@user, url: update_my_profile_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class=" form-action btn btn-flat btn-color">
    <%= f.button :submit, "Update", class: "btn btn-flat btn-color" %>
  </div>
<% end %>

<%= link_to "Cancel", :back, class: "btn btn-flat btn-color mt-4" %>

</div>
