<h2 class="text-center">EDIT USER</h2>
<div class="container">
<%= simple_form_for(@user, url: update_my_profile_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>

</div>
