<div class="grid-container m-3">
  <% @obstacles.each do |obstacle| %>
    <%= link_to obstacle_path(obstacle) do %>
      <div class="card">
        <% if obstacle.photo.attached? %>
          <%= cl_image_tag obstacle.photo.key, height:200 , width: 400, crop: :fill %>
        <% end %>
        <div class="card-infos">
          <div>
            <h2> <%= obstacle.name %> </h2>
            <p> <%=obstacle.description %></p>
          </div>
          <h2 class="card-pricing"> <%= obstacle.price %>€ </h2>
        </div>
      </div>

    <% end %>
  <% end %>
</div>

