<% if policy(@obstacles).dashboard? %>


<div class="container">
  <h4>My Bookings</h4>
  <div class="grid-container m-3">
  <% @bookings.each do |booking| %>
    <div class="notification">
          <%= cl_image_tag booking.obstacle.photo.key, height:100 , width: 200, crop: :fill %>
          <div class="notification-content">
            <p>Obstacle: <%= booking.obstacle.name %> </p>

            <p>Start date: <%= booking.start_date %> </p>
            <p>End date: <%= booking.end_date %> </p>
            <p>Landlord-Email: <%= booking.obstacle.user.email %> </p>
          </div>
        </div>
  <% end %>
  </div>

    <h4>My Obstacles</h4>

  <div class="grid-container m-3">
    <% @obstacles.each do |obstacle| %>

        <div class="card">
          <% if obstacle.photo.attached? %>
            <%= cl_image_tag obstacle.photo.key, height:200 , width: 400, crop: :fill %>
          <% end %>
          <div class="card-infos">
            <div>
              <h2> <%= obstacle.name %> </h2>
              <p> <%=obstacle.description %></p>
            </div>
            <h2 class="card-pricing"> <%= obstacle.price %>€ </h2>
          </div>
          <div class="links-list">
          <%= link_to "View", obstacle_path(obstacle) %>
          <%= link_to "Edit", edit_obstacle_path(obstacle) %>
          <%= link_to "Delete #{obstacle.name}",
            obstacle_path(obstacle),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
