<% if policy(@obstacles).dashboard? %>

  <% @bookings.each do |booking| %>
    <div class="card">
      <div class="card-header">
        From <%= booking.start_date %> until <%= booking.end_date %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= booking.obstacle.name %></h5>
        <p class="card-text mb-3"><%= booking.obstacle.description %></p>
        <%= link_to "Cancel", booking_path(booking), method: :delete,
              data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>


    <% @obstacles.each do |obstacle| %>

        <div class="card">
          <% if obstacle.photo.attached? %>
            <%= cl_image_tag obstacle.photo.key, height:200 , width: 400, crop: :fill %>
          <% end %>
          <div class="card-infos">
            <div>
              <h2> <%= obstacle.name %> </h2>
              <p> <%=obstacle.description %></p>
            </div>
            <h2 class="card-pricing"> <%= obstacle.price %>€ </h2>
          </div>
          <div class="links-list">
          <%= link_to "View", obstacle_path(obstacle) %>
          <%= link_to "Edit", edit_obstacle_path(obstacle) %>
          <%= link_to "Delete #{obstacle.name}",
            obstacle_path(obstacle),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </div>
      </div>
    <% end %>
  </div>
<% end %>

