<h1>Obstacles#new</h1>
<p>Find me in app/views/obstacles/new.html.erb</p>

<%= simple_form_for @obstacle do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :availability %>
  <%= f.input :location %>
  <%= f.button :submit %>
<% end %>
