
<div class="header">
  <div class="container">
    <%= link_to 'Homepage', root_path %>
    <div class="card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    </div>
  </div>
</div>

<div class="container">
  <div class="show-page">

    <div class="obstacle-description">
      <h2>Product</h2>
      <div class="card card-info mb-2">
        <div class="details">
          <div class="description">
            <h4> <%= @obstacle.name %> </h4>
            <h5> obstacle.description </h5>
          </div>
          <div class="price">
            <p> <%= @obstacle.price %> €</p>
          </div>

            <%= cl_image_tag @obstacle.photo.key, height: 300, width: 400, crop: :fill %>

        </div>
      </div>

      <h2>Reviews</h2>
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small>14th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small>14th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>

      <h2>Contact the seller</h2>
        <div class="seller-info">
          <div>
          <h3>Seller Name</h3>
          <p>Seller Rating ****</p>
          <button>Contact me</button>
          </div>
          <div class="seller-text ml-2">
            <p>I am here to help you. Used this for backflips.</p>
          </div>
        </div>
    </div>
<%= render 'bookings/form' %>
  </div>
</div>
