
<div class="header">
  <div class="container">

    <div class="card">
      <%= cl_image_tag @obstacle.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>

<div class="container">
  <div class="show-page">

    <div class="obstacle-description">
      <h2>Product</h2>
      <div class="card card-info mb-2">
        <div class="details">
          <div class="description">
            <h4> <%= @obstacle.name %> </h4>
            <h5> <%= @obstacle.description %> </h5>
          </div>
          <div class="price">
            <p> <%= @obstacle.price %> €</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-info mb-2 p-2 width:400px">
      <%= render 'bookings/form' %>
    </div>

</div>
<div class="container">
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="notification">
          <%= cl_image_tag review.user.photo.key, class: "avatar dropdown-toggle"%>
          <div class="notification-content">
            <p><small> <%= review.created_at %> </small></p>
            <p><%= review.description %></p>
            <p> <%= *.times(review.rating) %></p>
          </div>
        </div>
      <% end %>
      <%= link_to "Create review", new_obstacle_review_path(@obstacle) %>

      <h2>Contact the seller</h2>
        <div class="seller-info">
          <div>
          <h3>Seller Name</h3>
          <p>Seller Rating ****</p>
          <button>Contact me</button>
          </div>
          <div class="seller-text ml-2">
            <p>I am here to help you. Used this for backflips.</p>
          </div>
        </div>
    </div>
